*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grille{
    width: var(--tailleGrille);
    height: var(--tailleGrille);
    display: flex;
    flex-wrap: wrap;
}

.case{
    width: var(--tailleCase);
    height: var(--tailleCase);
    border-radius: 50%;
    
}